<section>
  <div class="container">
    <header class="content-header pb-5 pb-sm-8 pt-3">
      <h1 class="content-title">Assunto</h1>
      <p>Preencha os campos abaixo para cadastrar um novo assunto ou altere os dados para editar um assunto existente</p>
    </header>
    <form [formGroup]="form">
      <div class="br-form">
        <div class="row">
          <div class="col-12">
            <div class="field">
              <field-validation [classList]="['br-input', 'is-medium']" errorMessage="Campo obrigatório." label="Título">
                <input id="valor" type="text" placeholder="Insira um título para o assunto" formControlName="valor">
              </field-validation>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="field">
              <field-validation [classList]="['br-select', 'is-medium']" errorMessage="Campo obrigatório." label="Assunto pai">
                <select id="assuntoPaiId" name="assuntoPaiId" formControlName="assuntoPaiId">
                  <option value="">Selecione um assunto pai</option>
                  <option class="select-items" *ngFor="let item of assuntos" [ngValue]="item.assuntoId">{{ item.hierarquia }}</option>
                </select>
              </field-validation>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" *ngIf="assunto">
            <div class="field">
              <field-validation [classList]="['br-input', 'is-medium']" errorMessage="Campo obrigatório." label="Situação">
                <mat-slide-toggle formControlName="ativo">
                  <span class="pt-2" *ngIf="assunto.ativo">Ativo</span>
                  <span class="pt-2" *ngIf="!assunto.ativo">Inativo</span>
                </mat-slide-toggle>
              </field-validation>
            </div>
          </div>
        </div>
        <div class="actions justify-content-start">
          <secure-input [perfis]="[PerfilEnum.GestorIndicadores]">
            <button class="br-button is-primary" type="submit" (click)="salvar()" [disabled]="!form.valid">Salvar</button>
          </secure-input>
          <button class="br-button is-cancel mr-2" type="button" [routerLink]="['/assunto/pesquisa']">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</section>
