<section>
  <div class="container">
    <header class="content-header pb-5 pb-sm-8 pt-3">
      <h1 class="content-title">Objeto</h1>
      <p>Preencha os campos abaixo para cadastrar um novo objeto ou altere os dados para editar um objeto existente</p>
    </header>
    <form [formGroup]="form">
      <div class="br-form">
        <div class="row">
          <div class="col-12">
            <div class="field">
              <field-validation [classList]="['br-select', 'is-medium']" errorMessage="Campo obrigatório." label="Tipo">
                <select name="tipo" id="tipo" formControlName="tipo">
                  <option [value]="null">Selecione um tipo</option>
                  <option [value]="tipo.id" *ngFor="let tipo of tipos">{{ tipo.descricao }}</option>
                </select>
              </field-validation>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="field">
              <field-validation [classList]="['br-input', 'is-medium']" errorMessage="Campo obrigatório." label="Título">
                <input id="descricao" type="text" placeholder="Insira um título para o objeto" formControlName="descricao">
              </field-validation>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="field">
              <field-validation [classList]="['br-input', 'is-medium']" errorMessage="Campo obrigatório." label="Chave">
                <input id="chave" type="text" placeholder="Insira uma chave para o objeto (código FIP, sigla de sistema, etc)" formControlName="chave">
              </field-validation>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" *ngIf="objeto">
            <div class="field">
              <field-validation [classList]="['br-input', 'is-medium']" errorMessage="Campo obrigatório." label="Situação">
                <mat-slide-toggle formControlName="ativo">
                  <span class="pt-2" *ngIf="objeto.ativo">Ativo</span>
                  <span class="pt-2" *ngIf="!objeto.ativo">Inativo</span>
                </mat-slide-toggle>
              </field-validation>
            </div>
          </div>
        </div>
        <div class="actions justify-content-start">
          <secure-input [perfis]="[PerfilEnum.GestorIndicadores]">
            <button class="br-button is-primary" type="submit" (click)="salvar()" [disabled]="!form.valid">Salvar</button>
          </secure-input>
          <button class="br-button is-cancel mr-2" type="button" [routerLink]="['/objeto/pesquisa']">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</section>
