<div class="input-group">
  <input class="form-control" placeholder="dd/mm/aaaa"
         [minDate]="minDate" [maxDate]="maxDate"
         [(ngModel)]="value" ngbDatepicker mask-datepicker #d="ngbDatepicker" autocomplete="off">

  <div class="input-group-append">
    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
      <i class="fa fa-calendar" aria-hidden="true"></i>
    </button>
  </div>

  <ngb-timepicker [spinners]="false" class="ml-2" *ngIf="timePicker" [(ngModel)]="time"></ngb-timepicker>

</div>
