<div class="br-modal is-large">
  <div class="br-modal-dialog">
    <div class="br-modal-content">
      <div class="br-modal-header">
        <h2 class="br-modal-title">Registrar informação</h2>
        <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="br-modal-body">
        <div class="br-form">
          <form [formGroup]="form">
            <div class="br-form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="field">
                    <field-validation [classList]="['br-input']" errorMessage="Campo obrigatório." label="Informação">
                      <textarea maxlength="2000" #informacao id="informacao" placeholder="Insira um texto" name="informacao" formControlName="informacao"></textarea>
                      <input-chars-cunter [element]="informacao"></input-chars-cunter>
                    </field-validation>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="br-modal-footer justify-content-end">
        <button class="br-button is-cancel" type="button" (click)="fecharModal()">Cancelar</button>
        <button class="br-button is-primary" type="button" (click)="cadastrarObservacao()" [disabled]="!form.valid">Salvar</button>
      </div>
    </div>
  </div>
</div>


