<section>
  <div class="container">
    <header class="content-header pb-5 pb-sm-8 pt-3">
      <h1 class="content-title">
        Plano de trabalho |
        <small>{{dadosPacto.value?.unidade}}</small> |
        <small [class]="classeTextoSituacao">{{dadosPacto.value?.situacao}}</small>
      </h1>
      <p>Veja os detalhes do plano de trabalho, e acompanhe o andamento das atividades previstas </p>
    </header>
    <pacto-cabecalho [dadosPacto]="dadosPacto" [atividades]="atividades" [unidade]="unidade" [servidor]="servidor"></pacto-cabecalho>
    <form>
      <div class="br-form">
        <div class="row">
          <div class="col-sm-12">
            <nav>
              <ul class="br-tabs">
                <li class="item" [ngClass]="{'is-active': abaVisivel === 'atividades'}">
                  <a href="javascript:void(0)" (click)="alterarAba('atividades')">
                    <span class="name">Atividades</span>
                  </a>
                </li>
                <li class="item" [ngClass]="{'is-active': abaVisivel === 'calendario'}">
                  <a href="javascript:void(0)" (click)="alterarAba('calendario')">
                    <span class="name">Calendário</span>
                  </a>
                </li>
                <li class="item" [ngClass]="{'is-active': abaVisivel === 'andamento'}" *ngIf="dadosPacto.value?.situacaoId >= 405">
                  <a href="javascript:void(0)" (click)="alterarAba('andamento')">
                    <span class="name">Andamento</span>
                  </a>
                </li>
                <li class="item" [ngClass]="{'is-active': abaVisivel === 'solicitacoes'}" *ngIf="dadosPacto.value?.situacaoId >= 405">
                  <a href="javascript:void(0)" (click)="alterarAba('solicitacoes')">
                    <span class="name">Solicitações</span>
                  </a>
                </li>
                <!--<li class="item" [ngClass]="{'is-active': abaVisivel === 'avaliacao'}" *ngIf="dadosPacto.value?.situacaoId >= 406">
                  <a href="javascript:void(0)" (click)="alterarAba('avaliacao')">
                    <span class="name">Avaliação de resultados</span>
                  </a>
                </li>-->
                <li class="item" [ngClass]="{'is-active': abaVisivel === 'historico'}">
                  <a href="javascript:void(0)" (click)="alterarAba('historico')">
                    <span class="name">Histórico</span>
                  </a>
                </li>
              </ul>
            </nav>
            <div *ngIf="abaVisivel === 'atividades'">
              <div class="row">
                <div class="col-sm-12 mb-5">
                  <pacto-lista-atividade [dadosPacto]="dadosPacto" [itensCatalogo]="itensCatalogo" [atividades]="atividades"></pacto-lista-atividade>
                </div>
              </div>
            </div>
            <div [ngClass]="{'d-none': abaVisivel !== 'calendario'}">
              <div class="row">
                <div class="col-sm-12 mb-5 mt-5">
                  <full-calendar #calendar [plugins]="calendarPlugins"></full-calendar>
                </div>
              </div>
            </div>
            <div *ngIf="abaVisivel === 'andamento'">
              <div class="row">
                <div class="col-sm-12 mb-5 mt-5">
                  <pacto-lista-atividade-andamento [dadosPacto]="dadosPacto" [readOnly]="true"></pacto-lista-atividade-andamento>
                </div>
              </div>
            </div>
            <div *ngIf="abaVisivel === 'solicitacoes'">
              <div class="row">
                <div class="col-sm-12 mb-5">
                  <pacto-lista-solicitacao [dadosPacto]="dadosPacto"></pacto-lista-solicitacao>
                </div>
              </div>
            </div>
            <div *ngIf="abaVisivel === 'avaliacao'">
              <div class="row">
                <div class="col-sm-12 mt-5 mb-5">
                  <pacto-avaliacao-resultados [dadosPacto]="dadosPacto"></pacto-avaliacao-resultados>
                </div>
              </div>
            </div>
            <div *ngIf="abaVisivel === 'historico'">
              <pacto-historico [dadosPacto]="dadosPacto"></pacto-historico>
            </div>
          </div>
        </div>
        <div class="br-divider mt-4"></div>
        <div class="actions justify-content-start">
          <secure-input [perfis]="[PerfilEnum.Diretor, PerfilEnum.CoordenadorGeral, PerfilEnum.ChefeUnidade, PerfilEnum.Servidor]" [unidade]="unidade" [servidor]="servidor">
            <button class="br-button is-primary" type="button" *ngIf="dadosPacto.value?.situacaoId === 401 && saldoHoras >= 0" (click)="abrirEnvioAceite()">Enviar para aceite</button>
            <button class="br-button is-primary bg-success border-0 mr-2" type="button" *ngIf="dadosPacto.value?.situacaoId === 402 && usuarioPodeAceitar" (click)="aceitar()">Aceitar</button>
            <button class="br-button is-primary mr-2 bg-danger border-0" type="button" *ngIf="dadosPacto.value?.situacaoId === 402 && usuarioPodeAceitar" (click)="rejeitar()">Rejeitar</button>
            <button class="br-button is-primary" type="button" *ngIf="dadosPacto.value?.situacaoId === 404" (click)="voltarParaRascunho()">Voltar para rascunho</button>
            <button class="br-button is-primary" type="button" *ngIf="dadosPacto.value?.situacaoId === 403 && periodoExecucao" (click)="iniciarExecucao()">Iniciar execução</button>
            <button class="br-button is-primary" type="button" *ngIf="dadosPacto.value?.situacaoId === 405" (click)="abrirTelConcluirExecucao()">Encerrar Plano de Trabalho</button>
          </secure-input>
          <button class="br-button is-cancel mr-2" type="button" (click)="voltarParaPlano()">Voltar para o programa de gestão</button>
          <button class="br-button is-cancel" type="button" [routerLink]="['/programagestao/pactotrabalho']">Voltar para a lista de planos de trabalho</button>
        </div>
      </div>
    </form>
  </div>
</section>


<ng-template #modalFluxo let-modal>
  <div class="br-modal is-large">
    <div class="br-modal-dialog">
      <div class="br-modal-content">
        <div class="br-modal-header">
          <h2 class="br-modal-title">Justifique a rejeição do plano</h2>
          <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" (click)="fecharModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="br-modal-body">
          <div class="br-form">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="field">
                    <field-validation [classList]="['br-input']" errorMessage="Campo obrigatório." label="Descrição">
                      <textarea id="descricao" placeholder="Insira uma descrição" name="descricao" formControlName="descricao"></textarea>
                    </field-validation>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="br-modal-footer justify-content-end">
          <button class="br-button is-tertiary is-small" type="button" (click)="fecharModal()">Cancelar</button>
          <button class="br-button is-primary is-small" type="button" (click)="confirmarRejeicao()" [disabled]="!form.valid">Rejeitar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalEnviarAceite let-modal>
  <div class="br-modal is-large">
    <div class="br-modal-dialog">
      <div class="br-modal-content">
        <div class="br-modal-header">
          <h2 class="br-modal-title">Confira as informações e confirme a operação</h2>
          <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" (click)="fecharModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="br-modal-body">
          <div class="br-form">
            <div class="text-danger text-center mt-4 mb-4">
              Tem certeza que deseja enviar o plano de trabalho para aceite?
            </div>
          </div>
        </div>
        <div class="br-modal-footer justify-content-end">
          <button class="br-button is-tertiary is-small" type="button" (click)="fecharModal()">Cancelar</button>
          <button class="br-button is-primary is-small" type="button" (click)="enviarParaAceite()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalAceite let-modal>
  <div class="br-modal is-large">
    <div class="br-modal-dialog">
      <div class="br-modal-content">
        <div class="br-modal-header">
          <h2 class="br-modal-title">Confira as informações e confirme a operação</h2>
          <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" (click)="fecharModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="br-modal-body">
          <div class="br-form">
            <div class="text-danger text-center mt-4 mb-4">
              Tem certeza que deseja aceitar o plano de trabalho?
            </div>
          </div>
        </div>
        <div class="br-modal-footer justify-content-end">
          <button class="br-button is-tertiary is-small" type="button" (click)="fecharModal()">Cancelar</button>
          <button class="br-button is-primary is-small" type="button" (click)="confirmarAceite()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalConcluirExecucao let-modal>
  <div class="br-modal is-large">
    <div class="br-modal-dialog">
      <div class="br-modal-content">
        <div class="br-modal-header">
          <h2 class="br-modal-title">Confirme o encerramento da execução do plano de trabalho</h2>
          <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" (click)="fecharModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="br-modal-body">
          <div class="br-form">
            <div class="text-danger text-center mt-4 mb-4">
              Tem certeza que deseja encerrar a execução do plano de trabalho?
            </div>
            <div class="mt-4 mb-4">
              <small>Ao confirmar essa operação, o plano de trabalho será concluído e não poderá mais alterar os dados das atividades.</small>
            </div>
          </div>
        </div>
        <div class="br-modal-footer justify-content-end">
          <button class="br-button is-tertiary is-small" type="button" (click)="fecharModal()">Cancelar</button>
          <button class="br-button is-primary is-small" type="button" (click)="concluirExecucao()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
