<section>
  <div class="page-background row">
    <div class="container">
      <div class="row">
        <!-- Lado esquerdo -->
        <div class="col-xs-12 col-sm-6">
          <div class="row justify-content-end">
            <div class="col-xs-12 col-md-9">
              <!-- Logo -->
              <a id="nav-logo" class="logo d-none d-sm-flex py-8" href="javascript:void(0)">
                <img alt="SUSEP - Superintendência de Seguros Privados" class="float-left logo-image" src="../../../assets/images/logo_susep 2.png" />
              </a>
              <!-- Descrição da página -->
              <p class="nav-description d-md-block pr-3 pb-3">
                Bem vindo ao Sistema de Gestão de Pessoas
              </p>
              <!-- Descrição da página -->
              <p class="nav-description d-md-block pr-3 pb-3">
                Por favor,
                <a href="javascript:void(0)" (click)="autenticar()">
                  <strong class="name">autentique-se</strong>
                </a> para ter acesso ao sistema.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
