<div class="br-modal is-large">
  <div class="br-modal-dialog">
    <div class="br-modal-content">
      <div class="br-modal-header">
        <h2 class="br-modal-title">Excluir atividade</h2>
        <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="br-modal-body">
        <div class="br-form">
            <div class="br-form">              
              <div class="row">
                <div class="col-sm-12">
                  <div class="field">
                      <div class="table-responsive">
                        <div class="br-table">
                          <div class="table">
                            <table class="full-width-table table-striped table-style mat-elevation-z8">
                              <thead>
                                <tr>
                                  <th>Atividade</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of atividades">
                                  <td>{{item.itemCatalogo}}</td>
                                  <td>
                                    <mat-slide-toggle class="ml-2"
                                                      [(ngModel)]="item.adicionadoCalendario"
                                                      (change)="toggleSituacao($event, item.pactoTrabalhoAtividadeId)"></mat-slide-toggle>
                                  </td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <td colspan="2"><small>* Só é possível excluir atividades que ainda não foram iniciadas</small></td>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <form [formGroup]="form">
                    <div class="field">
                      <field-validation [classList]="['br-input']" errorMessage="Campo obrigatório." label="Justificativa">
                        <textarea maxlength="2000" #descricao id="descricao" placeholder="Insira uma justificativa" name="justificativa" formControlName="justificativa"></textarea>
                        <input-chars-cunter [element]="descricao"></input-chars-cunter>
                      </field-validation>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="br-modal-footer justify-content-end">
        <button class="br-button is-cancel" type="button" (click)="fecharModal()">Cancelar</button>
        <button class="br-button is-primary" type="button" (click)="justificarEstouroDePrazo()" [disabled]="!form.valid || !atividadeSelecionada">Enviar solicitação para aprovação</button>
      </div>
    </div>
  </div>
</div>


