name: Build-deploy-image-docker

on:
  push:
    branches: docker-codigo-fonte


jobs:
  push_to_registry:
    name: Push Docker image to GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v1
      - name: Docker Login
        uses: docker/login-action@v1.8.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile
          pull: true
          push: true
          # cache-from: type=registry,ref=myorg/myrepository:latest
          # cache-to: type=inline
          #tags: ghcr.io/spbgovbr/sistema_programa_de_gestao_susep/sgd:v1.8
          tags: ghcr.io/srmourasilva/sistema_programa_de_gestao_susep/sgd:v1.8